{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-uppercase mb-3 text-center">qui sommes-nous ?</h1>

        <section class="mb-3">

        </section>
    </main>
{% endblock %}