<footer class="container-fluid">
    <section class="row text-center py-3 border-top bg-light font-archer">
        <div class="col-12 col-md-4">
            <i class="fas fa-credit-card fa-3x text-teal"></i>
            <br>
            <span class="text-uppercase text-muted">paiement facile</span>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-gift fa-3x text-teal"></i>
            <br>
            <span class="text-uppercase text-muted">expédition rapide</span>
        </div>
        <div class="col-12 col-md-4">
            <i class="fas fa-envelope fa-3x text-teal"></i>
            <br>
            <span class="text-uppercase text-muted">service client</span>
        </div>
    </section>

    <section class="row py-3 bg-teal">
        <div class="col-12 col-md-5">
            <div class="d-flex justify-content-around text-uppercase">
                <a href="{{ path('about') }}" class="nav-link text-white">a propos</a>
                <a href="{{ path('contact') }}" class="nav-link text-white">contact</a>
                <a href="#" class="nav-link text-white">cgv</a>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-12 col-md-5">
            <div class="d-flex justify-content-around text-uppercase">
                <a href="{{ path('customer_index') }}" class="nav-link text-white">compte</a>
                <a href="#" class="nav-link text-white">questions</a>
                <a href="#" class="nav-link text-white">plan du site</a>
            </div>
        </div>
    </section>
    <section class="text-center py-3 font-light">
        COPYRIGHT <i class="fas fa-copyright"></i> 2020 <span class="font-archer">CALYX OF GOD</span>
    </section>
</footer>