{% extends 'base_3.html.twig' %}

{% block body %}

    <main class="container">
        <h2 class="text-center mb-3">Nouvelle Catégorie</h2>
        {% include('partials/flash.html.twig') %}
        <section class="row">
            <div class="col-12 col-md-8 offset-md-2 py-3 rounded shadow">
                {% include 'category/_form.html.twig' %}
            </div>
        </section>
    </main>

{% endblock %}