{{ form_start(form) }}
{{ form_widget(form) }}
    <div class="text-center">
        <button type="submit" class="btn bg-teal text-white rounded-0">
            se connecter
        </button>
    </div>
{{ form_end(form) }}