<form action="" method="post">
    <div class="form-group my-2">
        <div class="input-group">
            <input type="search" name="keyword" class="form-control rounded-0" placeholder="Rechercher un produit" required>
            <div class="input-group-append border">
                <button type="submit" class="btn btn-light py-1 rounded-0">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>