{% extends 'base_3.html.twig' %}

{% block body %}

    <main class="container">
        <h1 class="text-center text-uppercase mb-3">Nouvelle Collection</h1>
        {% include('partials/flash.html.twig') %}
        <section class="row">
            <div class="col-12 col-md-8 offset-md-2 py-3 rounded shadow">
                {% include 'collection/_form.html.twig' %}
            </div>
        </section>
    </main>

{% endblock %}