<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Administration{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="/js/all.min.js"></script>
</head>
<body>
    {% include('admin/header.html.twig') %}

    {% block body %}{% endblock %}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bs-custom-file-input.min.js"></script>
    <script src="/js/sticky.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>